name: Release
on:
  push:
    branches:
      - master
      - next

permissions:
  id-token: write
  contents: write

env:
  VOLTA_FEATURE_PNPM: 1

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: volta-cli/action@v4

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - run: pnpm run lint
      - run: pnpm run test
      - run: pnpm run build
      - run: pnpm run size
      - run: pnpm run publint

      - name: Setup git user
        run: |
          git config user.name "github-actions[bot]"
          git config user.email ""

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: pnpm nx release -y
